{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1> Bienvenue sur {{ website }}</h1>

<img src="/images/swaglapine_photograph_of_santa_claus_drinking_coffee_2bef25d0-fb6d-4d15-a3f5-506a43f5b224_ins.png" alt=""/>
{% endblock %}
